<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prime Minister's Special Scholarship Scheme</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/Dark Mode Toggle.CSS">
</head>

<body>

    <!-- Header Section -->
   
  <header class="header">
        <div class="header-container">
            <!-- Logo and Title -->
            <div class="left-section">
                <img src="/static/images/AICTE_logo.png" alt="Logo" class="logo">
                <div class="department-title">
                   <B>
                    
                    <h1> Special Scholarship Scheme for J&K and Ladakh (PM-USPY)</h1></B>
                </div>
            </div>

            <!-- Profile Picture and Language Button -->
            <div id="google_translate_element"></div>
        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
            }
        </script>
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

        <label class="switch">
            <input type="checkbox" id="dark-mode-toggle">
            <span class="slider"></span>
          </label>

          <script src="/static/js/Dark Mode Toggle.js"></script>
        </div>
        </div>

        <!-- Navigation Bar -->
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="/templates/index.html">Home</a></li>
                <li><a href="/templates/Student Track Your Application.html">Application Status</a></li>
                <li><a href="/templates/Notification.html">Notification</a></li>
                <li><a href="/static/pdf/PMSSS-Student-Manual.pdf">How To Apply</a></li>
                <li><a href="/templates/Feedback And Grievance.html">Feedback And Grievance</a></li>
                <li><a href="/templates/FAQ's.html">FAQ</a></li>
                <li><a href="/templates/Contact Us.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>


    <!-- Banner Section -->
    <div class="banner">
        <img src="/static/images/Ministry-of-tribal.png" alt="Banner" class="banner-img">
        
    </div>

    <!-- Navigation Section -->
    <div class="nav-container">
        <a href="/templates/student.html" class="nav-item students">Students</a>
        <a href="/templates/SAG login.html" class="nav-item SAG_Buero">SAG Buero</a>
        <a href="/templates/Finance login.html" class="nav-item Finance_Buero">Finance Buero</a>
        <a href="/templates/Institute login.html" class="nav-item Scheme">Institute Login</a>
    </div>

    <!-- Announcements and OTR Section -->
    <div class="container">
        <div class="section announcement">
            <img src="/static/images/Announcements-color.svg" alt="Announcements Icon" class="icon">
            <h2>Notifications</h2>
            <br>
            <p>• <a  href="J&K Policy_New_Annexure-I.pdf"> Reservation policy of the UTs of J&K</a></p>
                        <p>• <a  href="Calander of event Round 2.pdf"> Calander of event Round 2.pdf</a></p>
                        <p>• <a  href="Advertisement for HSC (10+2) Student 2024-25 (English).pdf"> Advertisement for HSC (10+2) Student 2024-25 (English)</a></p>
                        <p>• <a  href="Advertisement for HSC (10+2) Student 2024-25 (Hindi).pdf"> Advertisement for HSC (10+2) Student 2024-25 (Hindi)</a></p>
                        <p>• <a  href="De-Duplication Notice 2024-25.pdf"> De-Duplication Notice 2024-25.pdf</a></p>
                        
            <p><a href="Notification.html">View more</a></p>
           
                <B>
        </div>
    </div>
    
    <!-- Footer Section -->

    <footer class="footer">
        <div class="footer-content">
            <!-- Logos -->
            <div class="footer-logos">
                <img src="/static/images/meity_logo.png" alt="MeitY Logo">
                <br>
                <br>
            <img src="/static/images/nic_logo.png" alt="NIC Logo">
            <br>
            <br>
            <img src="/static/images/Digital logo.png" alt="MyGov Logo">
            <br>
            <br>
            <img src="/static/images/DBTBharat_logo.png" alt="DBT Bharat Logo">
            <br>
            <br>
            <img src="/static/images/data.png" alt="India.gov.in Logo">
            <br>
            <br>
            </div>

            <!-- Navigation Links -->
            <div class="footer-links">
                <a href="/templates/copyright.html">Copyright Policy</a>
                <span>|</span>
                <a href="/templates/Privacy Policy.html">Privacy Policy</a>
                <span>|</span>
                <a href="/templates/Terms Conditions.html">Terms and Conditions</a>
                <span>|</span>
                <a href="/templates/Disclaimer.html">Disclaimer</a>
                <span>|</span>
                <a href="/templates/Hyperlink.html">Hyperlink</a>
                <span>|</span>
                <a href="/templates/Site Map.html">Site Map</a>
            </div>
        </div>
        <br>

        <!-- Update Information -->
        <div class="footer-update">
            Last update on 10 September 2024
        </div>
    </footer>
</body>

</html>
