<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Announcements</title>
    <link rel="stylesheet" href="/static/css/Notification.css">
</head>
<body>
<!-- Header Section -->
   
<header class="header">
    <div class="header-container">
        <!-- Logo and Title -->
        <div class="left-section">
            <img src="/static/images/AICTE_logo.png" alt="Logo" class="logo">
            <div class="department-title">
               <B>
                
                <h1> Special Scholarship Scheme for J&K and Ladakh (PM-USPY)</h1></B>
            </div>
        </div>

        <!-- Profile Picture and Language Button -->
        <div id="google_translate_element"></div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </div>
    </div>

    <!-- Navigation Bar -->
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="/templates/index.html">Home</a></li>
            <li><a href="/templates/Student Track Your Application.html">Application Status</a></li>
            <li><a href="/templates/Notification.html">Notification</a></li>
            <li><a href="/static/pdf/PMSSS-Student-Manual.pdf">How To Apply</a></li>
            <li><a href="/templates/Feedback And Grievance.html">Feedback And Grievance</a></li>
            <li><a href="/templates/FAQ's.html">FAQ</a></li>
            <li><a href="/templates/Contact Us.html">Contact Us</a></li>
        </ul>
    </nav>
</header>

        <!-- Main Content Section -->
        <main>
            <section class="content">
                <h1>Notifications</h1>
                <hr class="divider">
                <div class="terms-content">
                    
                    <p>• Dear Students, kindly ensure that the Biometric Lock / Unlock status should be as 
                        “Unlocked” for authentication in Aadhaar. To lock or unlock the Biometric in Aadhaar, please click on the “Lock/Unlock Aadhaar” 
                        option on myAdhaar web portal (please refer to the link: <a  href="https://resident.uidai.gov.in/bio-lock"> https://resident.uidai.gov.in/bio-lock</a>). For assistance, <a href="https://youtu.be/HmrbM76RJIo?si=C1Ad9qOvOfwb_bln">please watch the video.</a> </p>
                        
                        <p>• <a  href="/static/pdf/J&K Policy_New_Annexure-I.pdf"> Reservation policy of the UTs of J&K</a></p>
                        <p>• <a  href="/static/pdf/Calander of event Round 2.pdf"> Calander of event Round 2.pdf</a></p>
                        <p>• <a  href="/static/pdf/Advertisement for HSC (10+2) Student 2024-25 (English).pdf"> Advertisement for HSC (10+2) Student 2024-25 (English)</a></p>
                        <p>• <a  href="/static/pdf/Advertisement for HSC (10+2) Student 2024-25 (Hindi).pdf"> Advertisement for HSC (10+2) Student 2024-25 (Hindi)</a></p>
                        <p>• <a  href="/static/pdf/De-Duplication Notice 2024-25.pdf"> De-Duplication Notice 2024-25.pdf</a></p>
                        <br>
                        <B>
                        
                    <p>PMSSS <a  href="/templates/index.html"> website</a></p>
                    Contact: 6261274005<br>
                    Email: chauhanvikrant133@gmail.com</p>
                    
                </div>
            </section>
        </main>

 <!-- Footer Section -->
 <footer class="footer">
    <div class="footer-content">
        <!-- Logos -->
        <div class="footer-logos">
            <img src="/static/images/meity_logo.png" alt="MeitY Logo">
            <br>
            <br>
        <img src="/static/images/nic_logo.png" alt="NIC Logo">
        <br>
        <br>
        <img src="/static/images/Digital logo.png" alt="MyGov Logo">
        <br>
        <br>
        <img src="/static/images/DBTBharat_logo.png" alt="DBT Bharat Logo">
        <br>
        <br>
        <img src="/static/images/data.png" alt="India.gov.in Logo">
        <br>
        <br>
        </div>

        <!-- Navigation Links -->
        <div class="footer-links">
            <a href="/templates/copyright.html">Copyright Policy</a>
            <span>|</span>
            <a href="/templates/Privacy Policy.html">Privacy Policy</a>
            <span>|</span>
            <a href="/templates/Terms Conditions.html">Terms and Conditions</a>
            <span>|</span>
            <a href="/templates/Disclaimer.html">Disclaimer</a>
            <span>|</span>
            <a href="/templates/Hyperlink.html">Hyperlink</a>
            <span>|</span>
            <a href="/templates/Site Map.html">Site Map</a>
        </div>
    </div>
    <br>

    <!-- Update Information -->
    <div class="footer-update">
        Last update on 10 September 2024
    </div>
</footer>
</body>
</html>
