<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PMSSS Portal</title>
    <link rel="stylesheet" href="/static/css/student.css">
    <link rel="stylesheet" href="/static/css/Dark Mode Toggle.CSS">
</head>

<body>

       <!-- Header Section -->
   
  <header class="header">
    <div class="header-container">
        <!-- Logo and Title -->
        <div class="left-section">
            <img src="/static/images/AICTE_logo.png" alt="Logo" class="logo">
            <div class="department-title">
               <B>
                
                <h1> Special Scholarship Scheme for J&K and Ladakh (PM-USPY)</h1></B>
            </div>
        </div>

        <!-- Profile Picture and Language Button -->
        <div id="google_translate_element"></div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <label class="switch">
        <input type="checkbox" id="dark-mode-toggle">
        <span class="slider"></span>
      </label>

      <script src="/static/js/Dark Mode Toggle.js"></script>
    </div>
    </div>

    <!-- Navigation Bar -->
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="/templates/index.html">Home</a></li>
            <li><a href="/templates/Student Track Your Application.html">Application Status</a></li>
            <li><a href="/templates/Notification.html">Notification</a></li>
            <li><a href="/static/pdf/PMSSS-Student-Manual.pdf">How To Apply</a></li>
            <li><a href="/templates/Feedback And Grievance.html">Feedback And Grievance</a></li>
            <li><a href="/templates/FAQ's.html">FAQ</a></li>
            <li><a href="/templates/Contact Us.html">Contact Us</a></li>
        </ul>
    </nav>
</header>

    <!-- Main Section -->
    <main class="main-section">
        <h1>Students</h1>
        <div class="section-container">
           
            <div class="section">
                <img src="/static/images/path-to-Login-iconn.png" alt="Apply For Scholarship Icon" class="section-icon">
                <h2>Apply For Scholarship</h2>
                <p>Register with your aadhar number to fill your Fresh and Renewal Scholarship application form for AY 2024-25.</p>
                <a href="/templates/student apply Sign Up.html">Apply</a>
            </div>

            <div class="section">
                <img src="/static/images/path-to-Login-iconn.png" alt="Announcements Icon" class="section-icon">
                <h2>Login</h2>
                <p>Students can login using their user id and password.</p>
                <a href="/templates/student LogIn.html">Login</a>
            </div>
        </div>

        <!-- New Section -->
        <div class="section-container">
            
            <div class="section">
                <img src="/static/images/path-to-application-iconn.png" alt="Track Your Payment Icon" class="section-icon">
                <h2>Track Your Application</h2>
                <p>Track your scholarship disbursement status on PMSSS portal.</p>
                <a href="/templates/Student Track Your Application.html">Track Your Application</a>
            </div>

            <div class="section">
                <img src="/static/images/how to apply icon.png" alt="Track Your Payment Icon" class="section-icon">
                <h2>How To Apply</h2>
                <p>Read user manual carefully.</p>
                <a href="/static/pdf/PMSSS-Student-Manual.pdf">How To Apply</a>
            </div>
        </div>
            
        <div class="section-container">
            <div class="section">
                <img src="/static/images/path-to-application-iconn.png" alt="Previous Year Application Status Icon" class="section-icon">
                <h2>Previous Year Application Status</h2>
                <p>Login to check status of previous year's application.</p>
                <a href="/templates/Student Track Previous Year Application.html">Track Previous Year Application</a>
            </div>

            
             <div class="section">
                <img src="/static/images/aadhar_logo.png" alt="Aadhaar Seva Kendra Icon" class="section-icon">
                <h2>Aadhaar Seeding</h2>
                <p>Check your bank account seeding status with Aadhaar.</p>
                <a href="https://resident.uidai.gov.in/bank-mapper">Check Bank Account(Aadhar Linked)</a>
            </div> 
        </div>

        <div class="section-container">
            <div class="section">
                <img src="/static/images/path-to-Login-iconn.png" alt="UIDID Icon" class="section-icon">
                <h2>Check UDID details</h2>
                <p>(For Disabled Applicants)</p>
                <p>Check UDID details at Swavlamban Portal</p>
                <a href="https://www.swavlambancard.gov.in/login">UDID details</a>
            </div>
    </div>
    </main>
  

     <!-- Footer Section -->

     <footer class="footer">
        <div class="footer-content">
            <!-- Logos -->
            <div class="footer-logos">
                <img src="/static/images/meity_logo.png" alt="MeitY Logo">
                <br>
                <br>
            <img src="/static/images/nic_logo.png" alt="NIC Logo">
            <br>
            <br>
            <img src="/static/images/Digital logo.png" alt="MyGov Logo">
            <br>
            <br>
            <img src="/static/images/DBTBharat_logo.png" alt="DBT Bharat Logo">
            <br>
            <br>
            <img src="/static/images/data.png" alt="India.gov.in Logo">
            <br>
            <br>
            </div>
<B>
            <!-- Navigation Links -->
            <div class="footer-links">
                <a href="/templates/copyright.html">Copyright Policy</a>
                <span>|</span>
                <a href="/templates/Privacy Policy.html">Privacy Policy</a>
                <span>|</span>
                <a href="/templates/Terms Conditions.html">Terms and Conditions</a>
                <span>|</span>
                <a href="/templates/Disclaimer.html">Disclaimer</a>
                <span>|</span>
                <a href="/templates/Hyperlink.html">Hyperlink</a>
                <span>|</span>
                <a href="/templates/Site Map.html">Site Map</a>
            </div>
        </div>
        <br>

        <!-- Update Information -->
        <div class="footer-update">
            Last update on 10 September 2024
        </div>
    </footer>
</body>

</html>
